
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    @Html.Partial("_Header") <!-- Include header -->
    <div>
        @RenderBody()
    </div>
</body>
</html>